body{
  background-image: url(https://media.fromthegrapevine.com/assets/images/2015/6/Colorful%20coral%20reef.jpg.824x0_q71_crop-scale.jpg);
  background-size: cover;
  font-family: 'Shadows Into Light', cursive;
}

h1{
font-size: 150px;
text-align: center;
}

#intro{
  text-align: center;
  font-size: 48px;
  background-color: ;
  margin: auto;
  display: inline-block;
}

div{
  background-color: white;
  text-align: center;
}

#bouncemush{
  size: 50%;
}

